<section class="section">
    <div class="container">

        <div class="card" *ngIf="user">
            <img [src]="user.avatar_url">
            <h2>{{ user.login }}</h2>
        </div>

    </div>
</section>